@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@font-face {
    font-family: 'Archivo Black';
    src: url('text/Alfa Slab One.otf') format('opentype');

    font-family: 'Didact Gothic';
    src: url('text/Didact Gothic.otf') format('opentype');

    font-family: 'Alfa Slab One';
    src: url('text/Alfa Slab One.otf') format('opentype');
}

/*inicializando a pagina com margin e padding sem formatação*/
*{
    margin: 0px;
    padding: 0px;
   
}


/*declarando variaveis*/

:root{

    --font2: 'ArchivoAlfa Slab One'; /* titulo */
    --font1: 'Didact Gothic'; /* paragrafo*/

    --cor1:black;
    --cor2:white;
    --cor3:rgba(0, 0, 0, 0);
    --cor4:#909aa7;
    --cor5:#507997;
    --cor6:#8dbcf5;
    --cor7:#c0d8f5;
}

body{
    background: var(--cor1) url("../imagens/img-fundo-entra.jpeg") center center no-repeat fixed;
    background-size: cover;
}

.body_cadastro{
    height: 100vh;
    padding: 5px;
   
}

#body_cadastro{
    background-color: rgba(240, 248, 255, 0);
}

#central{
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    width: 75vw;
}

.conteudo_cadastro{
    height: 25vh;
    padding: 5px;
}
#conteudo_cadastro{
    background-color: rgba(0, 0, 255, 0);
}

.text_cadastro{
    height: 15vh;
    padding: 5px;
}

#text_c01{
    background-color: rgba(127, 255, 212, 0);
}

#text_c01 > h1{
    font: normal bold 2.5vw var(--font1);
    color:rgb(70, 70, 70);
    text-align: left;
    margin: 20px 5px;
}

#text_c01 > p{
    font: normal bold 1vw var(--font2);
    color:rgb(70, 70, 70);
    text-align: left;
}

.formulario_cadastro{
    height: 100%;
    padding: 5px;
}

#form_c{
    background-color: rgba(165, 42, 42, 0);
}

#form_cadastro{
    background-color: rgba(127, 255, 212, 0);
}

.div_form{
    padding: 5px;
}

#div_form_c01{
    background-color: rgba(255, 255, 0, 0);
    height: 20vh;
}

#div_form_c01 > label{
    font: normal bold 1.2vw var(--font1);
    color: rgb(70,70,70);
    text-align: left;
}

#div_form_c01 > input{
    width: 100%;
    margin: 5px 0px 25px 0px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 17px 10px;
    text-align: left;
    transition-duration: 0.5s;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#div_form_c01 > input:hover{
    outline: 2.5px solid rgb(70, 70, 70);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#div_form_c01 > a{
    text-decoration: none;
    background-color: #909aa7;
    color: var(--cor2);
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    transition-duration: 1s;
}

#div_form_c01 > a:hover{
    background-color: #c3daf7 ;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#div_form_c02{
    display: inline-flex;
}

/**/
#div_input_01{
    background-color: rgba(255, 192, 203, 0);
    margin: 10px 25px;
    width: 30vw;
}

#div_input_01 > label {
    font: normal bold 1vw var(--font1);
    color: rgb(70,70,70);
    text-align: left;
    margin: 10px;
}

#div_input_01 > input{
    outline: none;
    border: none;
    margin: 15px 5px;
    padding: 13px;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

#div_input_01 > input:hover{
    outline: 2.5px solid rgb(70, 70, 70);
    border-color:white ;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

/**/

#div_input_02{
    background-color: rgba(255, 192, 203, 0);
    margin: 10px 25px;
    width: 30vw;
}

#div_input_02 > label{
     font: normal bold 1vw var(--font1);
     color: rgb(70,70,70);
     text-align: left;
     margin: 10px ;
}

#div_input_02 > input{
    outline: none;
    border: none;
    margin: 15px 5px;
    width: 100%;
    border-radius: 10px;
    padding: 13px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

#div_input_02 > input:hover{
    outline: 2.5px solid rgb(70, 70, 70);
    border-color:white ;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#label_s{
    color: white; 
}

#submit{
    font: normal bold 1vw var(--font1);
    background-color: #909aa7;
    color: var(--cor2);
    outline: none;
    border: none;
}

#submit:hover{
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color:#c3daf7 ;
    color: var(--cor2);
    border: none;
    outline: none;
}

/**/

#div_form_c03{
    background-color: rgba(128, 0, 128, 0);
    height: 15vh;
    padding: 5px;
}

#div_cbox{
    height: 15vh;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    color: rgb(70,70,70);
}

#div_cbox > input{
    padding: 5px;
    margin: 10px 5px;
}

#div_cbox > label{
    font: normal normal 1.2vw var(--font1);
    color: rgb(70, 70, 70);
   
}

