@charset "utf-8";

/*inicializando a pagina com margin e padding sem formatação*/
*{
    margin: 0px;
    padding: 0px;
}


/*declarando variaveis*/

:root{

    --font1: verdana, Geneva, tahoma, sans-serif;

    --cor1:black;
    --cor2:white;
    --cor3:rgba(0, 0, 0, 0);
    --cor4:#909aa7;
    --cor5:#507997;
    --cor6:#8dbcf5;
    --cor7:#c0d8f5;
}

/* home */ 

.produto{
    height: 100%;
    padding: 25px;
    background-color: var(--cor5);
}


/* --------------home topo---------------- */
.topo_p{
    background-color: var(--cor6);
    height: 100%;
    margin: 15px 20px;
    border-radius: 20px;
    padding: 15px;
}

.topo_p > h1{
    font: normal bold 3vw var(--font1);
    text-align: center;
    color: var(--cor2);
    margin: 5px;
}

.topo_p > p{
    font: normal bold 2vw var(--font1);
    text-align: center;
    color: var(--cor7);
    margin: 5px;
}



/* ---------------home body--------------------*/
.body_p{
    background-color: var(--cor6);
    height: 100%;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
}

/*-----------lista---------*/

.list_p{
    background-color: var(--cor7);
    height: 100%;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
}

.list_p > table{
    margin: auto;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
}

/*------------linha 1--------------*/
.list_p > table > tr{
    background-color: rgba(224, 255, 255, 0.432);
    font: italic bold 2.5 var(--font1);
    color: var(--cor5);
}

.list_p > table > #text_list_01 > td{
    border-radius: 8px ;
    padding: 8px 20px;
}

/*-------linha2------------------*/
.list_p > table > #text_list_02{
    background-image: linear-gradient(to top, darkcyan,lightcyan);
    font: italic bold 20px 'arial';
}

.list_p > table > #text_list_02 > td{
    border-radius: 8px ;
    padding: 8px 20px;
}

.list_p > table > #text_list_02 > td > a{
    background-image: linear-gradient(to bottom, rgb(0, 180, 180), white);
    color: black;
    padding: 5px;
    border-radius: 8px;
    border: none;
    outline: red;
    margin: 0px 10px;
    text-decoration: none;
    font: italic bold 18px 'arial';
}

.list_p > table > #text_list_02 > td > a:hover{
    text-decoration: black;
}

/*---------final--------------*/

.final_p{
    height: 100%;
    margin: 15px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.final_p > a{
    text-decoration: none;
    background-color: var(--cor7);
    font: normal bold 3vw var(--font1);
    color: var(--cor5);
    padding: 15px;
    text-align: center;
    margin: auto;
    transition-duration: 1s;
    border-radius: 15px;
}

.final_p > a:hover{
    background-color: var(--cor6);
    color: var(--cor2);
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}