@charset "utf-8";

/*inicializando a pagina com margin e padding sem formatação*/
*{
    margin: 0px;
    padding: 0px;
}


/*declarando variaveis*/

:root{

    --font1: verdana, Geneva, tahoma, sans-serif;

    --cor1:black;
    --cor2:white;
    --cor3:lightgray;
    --cor4:rgba(0, 0, 0, 0);
    --cor5:none;
    --cor6:none;
}
main{
    background: var(--cor1) url('../imagens/img-01.jpeg') center center no-repeat fixed;
    background-size: cover;
}
.body_entrar{
    margin: auto;
    height: 55vw;
    width: 70vw;
   
}
#body_e01{
    padding: 10px;
}

.box_entrar{
    display: inline-flex;
    height: 50vw ;
}
#box_entrar01{
    padding: 10px;
}

.aside_b{
    height: 45vw;
}

#aside_b01{
    animation: gradient 10s ease  alternate infinite;
    background: linear-gradient(-45deg, darkblue, cyan, rgb(224, 224, 122), rgb(247, 42, 76)) no-repeat;
    display: flex;
    background-size: 300% 300%;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 25px 0px 0px 25px;
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}
#aside_b02{
    background-color: var(--cor2);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px 0px 35px 0px;
    margin-left: -30px;
}

.conteudo_a{
    display: inline;
}

#conteudo_a01{
    background-color: var(--cor4);
}
#conteudo_a01 > img{
    height: 40vh;
    width: 30vw;
    margin-left: 70px;
}

#conteudo_a01 > h1{
    font: normal bold 2.5vw var(--font1);
    text-align: center;
    margin-bottom: 35px;
}

#conteudo_a01 > p{
    font: normal normal 1vw var(--font1);
    text-align: center;
}
#conteudo_a02{
    background-color: none;
    height: 35vh;
    width: 25vw;
}

#conteudo_a02 > h1{
    font: normal bold 2.5vw var(--font1);
    text-align: center;
    margin-bottom: 40px;
}

#conteudo_a02 > a{
    text-decoration: none;
    margin: 25px 2px;
}

#conteudo_a02 > a > p{
    font: normal bold 2vw var(--cor1);
    background-color: rgb(198, 227, 236);
    color: var(--cor1);
    text-align: center;
    padding: 10px;
    border-radius: 20px;    
    transition: 1s;
}

#conteudo_a02 > a > p:hover{
    background-color: darkturquoise;
    color: white;
}