@charset "utf-8";

/*inicializando a pagina com margin e padding sem formatação*/
*{
    margin: 0px;
    padding: 0px;
}


/*declarando variaveis*/

:root{

    --font1: verdana, Geneva, tahoma, sans-serif;

    --cor1:black;
    --cor2:white;
    --cor3:none;
    --cor4:none;
    --cor5:none;
    --cor6:none;
}


/*seletor cabeçalho*/
header{
    background: black url('../imagens/img-01.jpeg') bottom center no-repeat fixed;
    background-size: cover;
    min-height: 150px;
}


/*seletor section do header*/
header > section{
    /*shorthand background*/
    padding: 45px;
}


/*seletor do h1 da section do header*/
header > section > h1{
    /*shorthand font*/
    font:italic bold 7.5vh var(--font1);
    text-align: center;
    margin-bottom: 20px ;
}

/*seletor do p da section do header*/
header > section > p{
    color: var(--cor1);
    font:normal normal 1.5vw var(--font1);
    text-align: center;
    margin: auto;
    padding: 10px;
    max-width: 600px;
}

nav{
    background-color: rgba(255, 255, 255, 0.411);
    padding: 10px 0px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.555);
}

nav > a{
    color: var(--cor1);
    text-decoration: none;
    margin: 0px 35px;
    font:normal normal 1.5vw var(--font1);
    transition-duration: 0.5s ;
}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 20px;
    text-decoration: underline;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.438);
}


section{
    line-height: 2em;
    font: normal normal 3vh var(--font1);
    padding-left: 10px;
}

section.padrao > h2{
    background-image: linear-gradient(to right,  var(--cor1), var(--cor2));
    color: var(--cor2);
    padding: 10px 15px;
    margin: -40px 0px 40px 15px;
    border-radius: 20px;
}

section.padrao > p{
    padding: 20px;
    margin-bottom: 35px;
    color: var(--cor1);
    text-align: center;
}

section.padrao{
    padding: 15vh 0vh;
    background-color: var(--cor2);
    color:var(--cor1);
}


section.imagem{
    background-color: lightslategray;
    padding: 35vh;
    box-shadow: inset 5px 7px 15px rgba(0, 0, 0, 0.61);
}

section#img01{
    background: var(--cor1) url('../imagens/img-01.jpeg') center center no-repeat fixed;
    background-size: cover;
}

section#img02{
    background: var(--cor1) url('../imagens/img-01.jpeg') center center no-repeat fixed;
    background-size: cover;
}

footer{
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 20vh 0vh   ;

}