@charset "utf-8";

/*inicializando a pagina com margin e padding sem formatação*/
*{
    margin: 0px;
    padding: 0px;
}


/*declarando variaveis*/

:root{

    --font1: verdana, Geneva, tahoma, sans-serif;

    --cor1:black;
    --cor2:white;
    --cor3:lightgray;
    --cor4:rgba(0, 0, 0, 0);
    --cor5:none;
    --cor6:none;
}

/* cabeçalho pag */ 

header{
    height: 15vh;
}

#header{
    background-color: rgb(255, 255, 255);
}

#nav_topo{
    background-color: white;
    position: fixed;
    top: 0; 
    width: 100%;
    padding: 15px 0px;
}

#nav_topo > img{
    height: 100px;
    width: 145px;
    margin-left: 20px;
    margin-top: -25px;
}

nav > a{
    float: right;
    color: var(--cor1); 
    text-decoration: none;
    margin: 0px 35px;   
    font:normal normal 1.5vw var(--font1);
    transition-duration: 1s ;
}

#link{
    background-color: #c0d8f5;
    color: var(--cor2);
    padding: 10px;
    border-radius: 5px;
}

nav >  #link:hover{
    background-color: #909aa7;
    color: var(--cor2);
    border-radius:  15px;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
    

/*meio pag*/

main{
    height: 100%;
}

.sessao_cmc{
    height: 100%;
}

#sessao_m01{
    background-image: linear-gradient(to bottom , white , #d9e7f8);
    display: flex;
    padding: 15px;
    margin: 20px 0px 0px 0px ;
}

.conteudo{
    height: 100%;
    width: 50%;
    margin: 15px  0px 0px 0px;
}

#div_text{
    background-color: rgba(0, 0, 255, 0);
    padding: 5px;
}

#div_text > h1{
    font: normal bold 2.5vw var(--font1);
    text-align: left;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#div_text > p{
    font: normal normal 1.5vw var(--font1);
    text-align: justify;
    color: rgb(70,70,70);
    margin: 10px;
}

#div_img{
    background-color: rgba(165, 42, 42, 0);
    padding: 5px;
}

#div_img > img{
    height: 55vh;
    width: 40vw;
    display: block;
    margin: auto auto;
}

/* segunda sessao*/

#sessao_m02{
    background-image: linear-gradient(to bottom, #d9e7f8 , white);
    padding: 20px;
    text-align: center;
}

#sessao_m02 > h1{
    font: normal normal 2.5vw var(--font1);
    text-align: center;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#sessao_m02 > p{
    font: normal normal 1.7vw var(--font1);
    text-align: center;
    color: rgb(70,70,70);
    margin: 25px 10px ;
}

#sessao_m02 > a{
    background-color: #c0d8f5;
    color: var(--cor2);
    padding: 10px;
    border-radius: 5px;
    transition-duration: 1s;
    font: normal bold 1.5vw var(--font1);
    text-decoration: none;
    text-align: center;
    margin: 25px 10px;
}

#sessao_m02 > a:hover{
    background-color: #909aa7;
    color: var(--cor2);
    border-radius:  15px;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

#sessao_m03{
    height: 100%;
    padding: 15px;
    background-image: linear-gradient(to top, #d9e7f8 , white);
}

#sessao_m03 > img{
    height: 70vh;
    width: 70vw;
    display: block;
    margin: auto auto;
}


/*sessao 4*/

#sessao_m04{
    background-image: linear-gradient(to bottom, #d9e7f8 , rgba(255, 255, 255, 0));
    padding: 20px;
    text-align: center;
    height: 100%;
}

#sessao_m04 > p{
    font: normal bold 2vw var(--font1);
    text-align: center;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#sessao_m04 > div{
    display: flex;
    text-align: center;
    height: 100%;
}

#sessao_m04 > div > img{
    height: 30vh;
    width: 30vw;
}

/*sessao 05*/

#sessao_m05{
    background-image: linear-gradient(to top, #d9e7f8 , rgba(255, 255, 255, 0));
    padding: 20px;
    height: 100%;
    display: flex;
}

.div_m05{
    height: 100%;
    width: 35%;
    margin: 20px 5px;
    padding: 20px;
}

#div_text05{
    background-color: rgba(255, 0, 0, 0);
}

#div_text05 > h2{
    font: normal bold 2.3vw var(--font1);
    text-align: left;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#div_text05 > p{
    font: normal normal 1.7vw var(--font1);
    text-align: justify;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#div_img05{
    background-color: rgba(0, 0, 255, 0);
}

#div_img05 > img{
    height: 50vh;
    width: 45vw;
    display:block;
    margin: auto auto;
}

/*sessao 6*/

#sessao_m06{
    background-image: linear-gradient(to bottom, #d9e7f8 , rgba(255, 255, 255, 0));
    padding: 20px;
    height: 100%;
    display: flex;
}

.div_m06{
    height: 100%;
    width: 35%;
    margin: 20px 5px;
    padding: 20px;
}

#div_text06{
    background-color: rgba(255, 0, 0, 0);
}

#div_text06 > h2{
    font: normal bold 2.3vw var(--font1);
    text-align: left;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#div_text06 > p{
    font: normal normal 1.7vw var(--font1);
    text-align: justify;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#div_img06{
    background-color: rgba(0, 0, 255, 0);
}

#div_img06 > img{
    height: 50vh;
    width: 45vw;
    display:block;
    margin: auto auto;
}

/*sessao 7*/

#sessao_m07{
    background-image: linear-gradient(to top, #d9e7f8 , rgba(255, 255, 255, 0));
    padding: 20px;
    height: 100%;
    display: flex;
}

.div_m07{
    height: 100%;
    width: 35%;
    margin: 20px 5px;
    padding: 20px;
}

#div_text07{
    background-color: rgba(255, 0, 0, 0);
}

#div_text07 > h2{
    font: normal bold 2.3vw var(--font1);
    text-align: left;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#div_text07 > p{
    font: normal normal 1.7vw var(--font1);
    text-align: justify;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#div_img07{
    background-color: rgba(0, 0, 255, 0);
}

#div_img07 > img{
    height: 50vh;
    width: 45vw;
    display:block;
    margin: auto auto;
}


/*sessao 8*/
#sessao_m08{
    background-image: linear-gradient(to bottom, #d9e7f8 , rgba(255, 255, 255, 0));
    padding: 20px;
    height: 100%;
}

#div_m08{
    background-color: rgba(255, 0, 0, 0);
    height: 100%;
    padding: 5px;
}

#div_conteudo_m08{
    display: flex;
    padding: 10px;
}

.div_c_img{
    background-color: rgba(0, 0, 255, 0);
    margin: 10px 15px;
    width: 22%;
}

.div_c_img > img{
    height: 25vh;
    width: 15vw;
    display:block;
    margin: auto auto;
}

.div_c_txt{
    background-color: rgba(207, 135, 207, 0);
    margin: 10px 15px;
    width: 22%;
}

.div_c_txt > h2{
    font: normal bold 2vw var(--font1);
    text-align: justify;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

.div_c_txt > p{
    font: normal bold 1vw var(--font1);
    text-align: left;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

.div_c_txt > a{
    text-decoration: none;
    font: normal bold 1.5vw var(--font1);
    text-align: left;
    color: #8dbcf5;
    margin: 25px 10px;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #8dbcf5;
    border-radius: 10px;
    transition-duration: 1s;
}

.div_c_txt > a:hover{
    background-color: #8dbcf5;
    color:var(--cor2);
    border-radius:  15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border: solid 1px var(--cor2);
}


/*sessao */

#sessao_m09{
    animation: gradient 10s ease alternate infinite;
    background: linear-gradient(-45deg, #909aa7,#8dbcf5,#c0d8f5,#d9e7f8,var(--cor2)) no-repeat;
    background-size: 300% 300%;
    padding: 20px;
    height: 100%;
    display: flex;
}

@keyframes gradient{
            0%{
                background-position: 0 50%;
            }
            50%{
                background-position:100% 50%;
            }
            100%{
                background-position: 0 50%;
            }
        }

.div_m09{
    height: 100%;
}

#div_c01_m09{
    background-color: rgba(134, 67, 134, 0);
    margin: 10px;
}

#div_c01_m09 > img{
    display: block;
    margin: auto;
}

#div_c01_m09 > h2{
    font: normal bold 1.5vw var(--font1);
    text-align: center;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#div_c02_m09{
    background-color: rgba(255, 0, 0, 0);
    margin: 10px;
}

#div_c02_m09 > h2{
    font: normal bold 2vw var(--font1);
    text-align: center;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

#div_c02_m09 > p{
    font: normal bold 1.7vw var(--font1);
    text-align: center;
    color: rgb(70,70,70);
    margin: 25px 10px;
}

/*rodapé pag*/

footer{
    height:100%;
}